<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h2>Weather Forecast</h2>
  
</div>
  
<div class="container">
  <div class="row">
    <div ng-app="weather" ng-controller="weatherctrl" class="col-md-6">
  <label for="state">State code:</label><input type="text" class="form-control" name="state" ng-model="state">
  <label for="city">City name:</label><input type="text" class="form-control" name="city" ng-model="city">
<br/>
  <button id="btn" class="btn btn-default" ng-click="getWeather()"> Show Weather details for next 5 hours </button>
  <br/>
  <br/>
  <div class="weatherModule" ng-repeat="x in temp|limitTo:5"> 
    <p class="currentConditions" >{{x.temp.english}} &#8457 {{x.condition}}</p>
    <div class="currentIcon" ><img src="{{x.icon_url}}" /></div>
  </div>
</div>
  </div>
</div>

</body>
<script>


angular.module('weather', [])
  .controller('weatherctrl', function($scope, $http) 
  {

    $scope.getWeather = function() 
    {
    var state= $scope.state;
    var city= $scope.city;
      $http.get('https://api.wunderground.com/api/36b799dc821d5836/hourly/q/'+state+'/'+city+'.json').success(function(data) 
      {
        console.log(data);
       $scope.temp=data.hourly_forecast;
       })
  }

  });

</script>
</html>
